<div class="modal-header"><h4>Import Wizard</h4></div>
<div class="modal-body">
    <form ng-if="stage === 1" class="form-inline">
        <label>Select spreadsheet to import
            <select class="form-control" ng-model="selectedSheetIndex">
                <option ng-repeat="sheet in sheetsList" value="{{sheet.index}}">{{sheet.name}}</option>
            </select>
        </label>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$close({status: 'no'})">Close</button>
    <button class="btn btn-primary" ng-if="stage < finishStage" ng-click="nextHandler()">Next</button>
    <button class="btn btn-primary" ng-if="stage === finishStage" ng-click="finishHandler()">Finish</button>
</div>