<div class="main-component">
    <form class="form-inline" style="margin-bottom: 20px;">
        <select class="form-control" ng-model="selectedDictionaryId" ng-change="$ctrl.dictionaryChanged()">
            <option ng-repeat="dic in dictionariesList" value="{{dic.id}}">{{dic.title}}</option>
        </select>
        <file-input-js-xlsx onread="readXls" onerror="error"></file-input-js-xlsx>

        <div style="float: right">
            <button type="button" class="btn btn-success" ng-click="$ctrl.addRow()">Add Row</button>
            <button type="button" class="btn btn-success" ng-click="$ctrl.removeLastRow()">Remove Last Row</button>
            <button type="button" class="btn btn-success" ng-click="$ctrl.addColumn()">Add Column</button>
            <button type="button" class="btn btn-success" ng-click="$ctrl.removeLastColumn()">Remove Last Column</button>
        </div>
    </form>

    <ul class="sheet-tabs">
        <li class="sheet-tab-item" ng-class="{'active': sheet.name === activeSheet.name }" ng-repeat="sheet in sheets" ng-click="$ctrl.changeTab(sheet)">{{sheet.name}}</li>
    </ul>
    <div ng-if="activeSheet">
        <grid-component grid-data="activeSheet"></grid-component>
    </div>
</div>
